VITE_POLYMARKET_API_KEY=YOUR_POLYMARKET_API_KEY
VITE_POLYMARKET_API_SECRET=YOUR_POLYMARKET_API_SECRET
VITE_PORTFOLIO_HEDGING_ENABLED=true
VITE_PREDICTION_MODEL_URL=YOUR_PREDICTION_MODEL_URL
VITE_NODE_ENV=development
VITE_POLYMARKET_PREDICTION_PARTNER_ID=YOUR_POLYMARKET_PREDICTION_PARTNER_ID